<!-- Home page done by Armando Sanchez and Dayon Taylor-->
<!-- Converted to template and navbar created by Emily Howard-->
<!--Drop down menu added  by Mitch Z-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{% block title %}Attendance Tracker{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  {% load static %} 
  <link rel="stylesheet" href="{% static 'styles.css' %}"> 
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap">


</head>

<body>
  <div class="container">
    <nav class="navbar ">

      <!--Home link on navbar-->
      <div class="d-flex justify-content-between">
        <a class="nav-item nav-link" href="{% url 'home' %}">
          <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16" alt="Home">
            <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z"/>
          </svg>
        </a>
      </div>
      
      <!-- Site name on navbar as a link to home -->
<div class="d-flex justify-content-between">
  <a class="navbar-title" href="{% url 'home' %}">
      <h1>Attendance Tracker</h1>
  </a>
</div>

      <!-- User options on navbar. Dropdown button and menu -->
      <div class="dropdown">
        <button class="btn btn-primary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Menu <span class="caret"></span>
        </button>
        <div class="dropdown-menu">
    <!-- You can add your templates as links in the dropdown menu -->
    {% if user.is_authenticated %}
      <!-- User-specific items for authenticated users -->
      
      <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
      <a class="dropdown-item" href="{% url 'startclass' %}">Start Class</a>
      <a class="dropdown-item" href="{% url 'reports' %}">Reports</a>
      <a class="dropdown-item" href="{% url 'courses' %}">Courses</a>
      <a class="dropdown-item" href="{% url 'editcourse' %}">Add Courses</a>
      <a class="dropdown-item" href="{% url 'studcode' %}">Code Entry</a>
    {% else %}
      <!-- Items for non-authenticated users -->
      <a class="dropdown-item" href="{% url 'courses' %}">Courses</a>
      <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
      
      
    {% endif %}
    
    
    
    <!-- Add more links as needed -->
  </div>
</div>
      <div class="d-flex justify-content-between">        
        {% if user.is_authenticated %}
          <p><a href="{% url 'logout' %}">Log Out</a></p>
        {% else %}
          <p><a href="{% url 'login' %}">Log In</a></p>
        {% endif %}
      </div>
    </nav>
  </div>
  
  <main>
    <div class="container-fluid">
      {% block content %}
      {% endblock %}
    </div>
  </main>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
</body>

</html>