<!-- Home page login by Emily -->
{% extends "base.html" %}

{% block content %}
<div class="container py-5">
<H1>Student Attendance Tracker</H1>

<!-- home page when user is logged in -->
{% if user.is_authenticated %}
  <h2>Hi {{ user.username }}! </h2>

    <!--Testing only
    {% if user.roleID == 3 %}
      <p>You are an Administrator</p>
    {% elif  user.roleID == 2 %}
      <p>You are a Teacher</p>
    {% elif  user.roleID == 1 %}
      <p>You are a Student</p>
    {% else %}
      <p>You do not have a role</p>
    {% endif %}
    -->

  {% if user.roleID == 3 %}
    <p>You are logged in as an Administrator</p>
    <div>
      <h2>For Administrators: </h2>
      <a class="btn btn-primary" href="{% url 'courses' %}" role="button">Courses</a>
      <a class="btn btn-primary" href="{% url 'editcourse' %}" role="button">Add Courses</a>
      <br>
      <br>
    </div>
  {% elif  user.roleID == 2 %}
    <p>You are logged in as a Teacher</p>
    <div>
      <a class="btn btn-primary" href="{% url 'startclass' %}" role="button">Start Class</a>
      <!--create a table listing courses where User is the assigned teacher. Each class will have a 'Start Class' button
      Clicking the 'Start Class' button will create a new entry in the Classes table including the time stamp.
      It will also direct to the Start Class page displaying the randomly generated code to be given to students. -->
      <br>
      <br>
    </div>
  {% elif  user.roleID == 1 %}
    <p>You are logged in as a Student</p>
    <div>  
      <form>
        <div class="mb-3">
       
        <a class="btn btn-primary" href="{% url 'studcode' %}" role="button">Code Entry</a>  
        </div>
        
      </form>
      <br>
    </div>
  {% else %}
    <p>You do not have a role. Please see an administrator. </p>
  {% endif %}


  <!--Reports link is available for all users-->
  <div>
    <a class="btn btn-primary" href="{% url 'reports' %}" role="button">Reports</a>
  </div>

<!-- home page when user is not logged in -->
{% else %}
  <p>
    Welcome to the student attendance tracker by <i>"new code who this?"</i>. 
    We are pleased to provide exceptional student tracking along with a very easy to use user interface 
    to make everything as seamless as possible.
  </p>
  <br>
  <a class="btn btn-primary" href="{% url 'login' %}" role="button">Log In</a>
  <br>
  <br>
  <a class="btn btn-primary" href="{% url 'signup' %}" role="button">New User</a>
  </div>
  
{% endif %}
{% endblock %}