
/* Reset some default styles */
body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Helvetica', sans-serif;
    background: linear-gradient(to bottom, #ffebcd, #d2b48c);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: rgba(210, 180, 140, 0.8);
    border-radius: 10px;
    padding: 20px;
}

/*Home link on navbar*/
.navbar a.nav-link {
    background-color: #3e2723; /* Dark brown background color */
    color: #fff; /* White text color */
    padding: 10px 15px; /* Adjust padding for the button */
    border-radius: 5px; /* Add rounded corners */
}

/* Change the color on hover */
.navbar a.nav-link:hover {
    background-color: #5d4037; /* Darker brown on hover */
    color: #fff; /* White text color on hover */
}

/* Navbar styles */
.navbar {
    background-color: #7e5e40;
    color: #fff;
    padding: 10px 20px; /* Add padding to the navbar */
}

/* Navbar title styles */
.navbar-title {
    font-family: 'Lobster', cursive; /* Use Lobster font */
    font-size: 1.5em; /* Adjust font size */
    color: #f5f5dc; /* Dark brown color */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Optional: Add shadow for a subtle effect */
}

.navbar-title a {
    color: #f5f5dc; /* Dark brown text color */
    text-decoration: none; /* Remove underline */
}

.navbar-title a:hover {
    color: #634b33; /* Lighter color on hover */
}

/* Add shadow for a subtle effect */
.navbar-title a {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Dropdown styles */
.dropdown:hover .dropdown-menu {
    display: block;
    visibility: visible;
    opacity: 1;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    visibility: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

/* Button styles */
.btn-primary {
    background-color: #e07a5f;
    border-color: #e07a5f;
    color: #fff;
    font-size: 1.2em; /* Adjust font size for buttons */
    padding: 10px 20px; /* Add padding to buttons */
}

.btn-primary:hover {
    background-color: #c16143;
    border-color: #c16143;
}

.message {
    font-size: 1.2em; /* Adjust the font size as needed */
    color: #634b33; /* Dark brown color or your preferred color */
}

.generated-code {
    font-size: 1.1em; /* Adjust the font size as needed */
    color: #634b33; /* Dark brown color or your preferred color */
}


/* Form styles */
form {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 20px;
}

#codeForm {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh; /* Set the height of the form to the full viewport height */
}

.code-input {
    width: 60px; /* Adjust the width as needed */
    height: 160px; /* Adjust the height as needed */
    text-align: center;
    font-size: 50px; /* Adjust the font size as needed */
    margin: 0 5px; /* Add some spacing between the code boxes */
    border-radius: 10px; /* Add border-radius for rounded corners */
}


/* Modal styles */
.modal-header {
    background-color: #7e5e40;
    color: #fff;
}

.modal-content {
    border-radius: 10px;
}

/* Responsive styles */
@media (max-width: 768px) {
    .navbar {
        text-align: center;
    }

    .navbar h1 {
        margin-bottom: 10px;
    }

    .btn {
        font-size: 1.5rem;
    }

    .text-center {
        text-align: center;
    }
}